* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  background: hsla(0, 0%, 0%, 0.1);
  color: #000;
  font-weight: 400;

  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  max-width: 420px;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 9px 46px 8px hsla(0, 0%, 0%, 0.12);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
}

.inner {
 display: flex;
 flex-direction: column;
 gap: 30px;
}

h1 {
  font-size: 20px;
  font-weight: 500;
}

p {
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

button {
  text-transform: uppercase;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  background: none;
}
.btn-dialog.active {
  background: hsla(212, 78%, 42%, 1);
  box-shadow: 2px 2px 2px -1px hsla(212, 78%, 42%, 0.25);
  color: #fff;
}

/* button:focus {
  background: hsla(212, 78%, 42%, 1);
  box-shadow: 2px 2px 2px -1px hsla(212, 78%, 42%, 0.25);
  color: #fff;
} */


